body{
    margin: 0;
    background-color: rgb(138, 138, 138);
    padding: 0;
}

h1{
    text-align: center;
    color: #fff;
}

canvas{
    display: block;
    margin: auto;
    border: 1px solid red;
    overflow: auto;
    background-color: black;
}


#file-input{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
}

#output-text{
    width: 100%;
    height: 100vh;
}

